.nav-tabs-danger{
    justify-content: center;
} 
.custom-select{
    color: black;
}
.todo{
    width:  60%;
}
.todo-input{
    display: flex;
    // flex-direction: row;
    justify-content: space-between;
}
.float-right{        
}